{% extends "Base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% block title %}Home{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}
        </div>
    </nav>
    <div class="hello-form">
        <form method="post" action="{{ url_for("index") }}">
            {{ render_field(form.name) }}
            {{ render_field(form.body) }}
            {{ render_field(form.submit) }}
        </form>
    </div>

{% endblock %}