{% extends "Base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from  "bootstrap/utils.html" import render_messages %}
{% block title %}Home{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns="http://www.w3.org/1999/html">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}
        </div>
    </nav>
    <div class="hello-form">
        <form method="post" action="{{ url_for("index") }}">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.body) }}
            {{ render_field(form.submit) }}
        </form>
        <nav>{{ render_messages() }}</nav>
    </div>
    <h5>{{ messages | length }} messages
        <small class="float-right">
            <a href="#bottom" title="Go bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for message in messages %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">
                        {{ message.name }}
                    </h5>
                    <small data-toggle="tooltip" data-placement="top" data-delay="500"
                           data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{ moment(message.timestamp).fromNow(refresh=True) }}
                    </small>

                </div>
                <p class="mb-1">{{ message.body }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    $(function () {
    function render_time() {
    return moment($(this).data('timestamp')).format('lll')
    }
    $('[data-toggle="tooltip"]').tooltip(
    {title: render_time}
    );
    });{% endblock %}